.region {
  border-bottom: 5px solid red;
}


/* Article */
.node__content {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 1rem;

  padding: 3rem 1rem;
}

.node__content .image {
  grid-column: 1 / 7;
  grid-row: 1;
}

.node__content .text {
  grid-column: 7 / -1;
  grid-row: 1;
}
